body {
	margin-left:0 px;
	padding:0;
}

.card {
    align-content: center;
    margin: 0 auto;
}

.cardPic {
    width: 400px;
    margin: 0 auto;
}

.card-title {
    font-weight: bold;
}

/*
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  
}*/

.rating {
    margin-bottom: 10px;
}

.rating > span {
  display: inline-block;
  position: relative;
  width: 3em;
}
/*
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}*/

.listCard {
    margin-bottom: 10px;
}

.myCarousel {
  height: 260px !important;
  width: auto;
  overflow: hidden;
  position: fixed;
  top: 250px;
}
#wrap {
   width:1000px;
   margin:0 auto;
}
#left_col {
   float:left;
   width:400px;
}
#right_col {
   float:left;
   width:400px;
   margin-left: 30px;
}
</style>
.desc {
  font-size: 1.90em;
  line-height: 2em;
  height: 3em;
  display: table;
  vertical-align: middle;
  margin:auto;
  text-align: center;
}

/*
@media (max-width:767px) {
    .card > div img {
        width: 100%;
    }
}

@media (min-width:900px) {
    .card > div img{
        text-align: center;
        width: 70%;
    }
}
*/
